certifi==2017.4.17
chardet==3.0.4
click==6.7
codecov==2.0.16
coverage==4.4.1
Flask==0.12.2
idna==2.5
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
pluggy==0.4.0
py==1.4.34
pytest==3.1.2
pytest-cov==2.5.1
pytest-flask==0.10.0
requests==2.18.1
tox==2.7.0
urllib3==1.21.1
virtualenv==15.1.0
Werkzeug==0.12.2
wheel==0.24.0
ipdb